body {
	background-color: black;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

h1 {
	color: white;
	text-align: center;
	line-height: 1.1;
	padding: 20px 0;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;

}

#colordisplay {
	font-size: 200%;
}

#message {
	width: 20%;
	display: inline-block;
}
.square {
	width: 30%;
	background-color: purple;
	float: left;
	padding-bottom: 30%;
	margin: 1.66%;
	border-radius: 50%;
	transition: background 0.7s;
	-webkit-transition: background 0.7s;
	-moz-transition: background 0.7s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}


#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	color: white;
	background-color: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

button:hover {
	color: white;
	background: steelblue;
}